html {
    background-color: #efefef;
    background-image: url("/assets/sba-bg.png");
    background-repeat: no-repeat; /* Do not repeat the background */
    background-position: bottom right; /* Position the background image at the bottom right corner */
    position: relative;
    height: 100vh; /* Set the height of the HTML element to cover the entire viewport height */
}
